@import "tailwindcss";
@import "./theme.css";

::selection {
  background: var(--color-mint-400);
  color: var(--color-midnight-900);
}

small {
  font-size: 70%;
}

strong {
  @apply font-semibold;
}

code {
  @apply font-thin;
}

mark {
  @apply inline rounded-[.05em] font-black bg-mint-400 text-midnight-900 px-[0.25em];
}