// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: rem(35);
  margin-bottom: rem(85);
  text-decoration: lowercase;
  p {
    font-size: rem(14);
    font-family: $sans-serif;
    font-weight: 700;
    color: $gray-light;
  }
  a {
    text-decoration: none;
  }
}
